function Random.mod 2
push argument 0
push argument 1
call Math.divide 2
pop local 0
push argument 0
push argument 1
push local 0
call Math.multiply 2
sub
pop local 1
push local 1
return
function Random.hash 3
push argument 0
push constant 3
call Math.multiply 2
push argument 1
add
pop local 0
push local 0
push constant 17
call Random.mod 2
pop local 1
push local 1
push constant 23
call Random.mod 2
pop local 2
push local 2
return
